# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
_update_local_git.bat
_commit_changes.sh
_commit_changes.bat

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
log/
results/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.bak

# Sphinx documentation
docs/_build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
_wiki_changes.txt